<div>Time remaining: 15:00</div>
<h2>Sharp book:</h2>
<div>49ers (26) -13.5 -105</div>
<div>Jets (13) +13.5 125</div>
<div>Question: How much is the 13 point worth?</div>

<%= form_with url: check_answer_home_index_path do |form| %>
  <%= form.number_field :user_answer, style: "color: black;" %>
  <%= form.submit "Submit" %>
<% end %>

<h2 class="mt-4">History:</h2>

<div class="flex flex-col">
  <div class="grid grid-cols-3 text-left font-bold border-b p-2">
    <div>Game</div>
    <div>Question</div>
    <div>User Answer</div>
  </div>
  <div class="grid grid-cols-3 border-b p-2">
    <div class="flex">
      <div class="mr-2">15:00</div>
      <div>
        <div>49ers (26) -13.5 -105</div>
        <div>Jets (13) +13.5 125</div>
      </div>
    </div>
    
    <div>How much is the 13 point worth?</div>
    <div>26</div>
  </div>
  <div class="grid grid-cols-3 border-b p-2">
    <div>Witchy Woman</div>
    <div>The Eagles</div>
    <div>1972</div>
  </div>
  <div class="grid grid-cols-3 border-b p-2">
    <div>Shining Star</div>
    <div>Earth, Wind, and Fire</div>
    <div>1975</div>
  </div>
  
</div>
